@if(!edit) {
    <h3> {{title}}</h3>
    <ul>
        <li><button class="button second-button" (click)="edit= true">Modifier</button></li>
    </ul>  
} @else {
    <form [formGroup]="applyForm" (ngSubmit)="onSubmit()">
        <label for="title">Titre</label>
        <input id="title" type="text" placeholder="Entrer un titre" formControlName="title" />

        <ul>
            <li><button class="button primary-button" type="submit">Modifier</button></li>
            <li><button class="button second-button" type="button">Annuler</button></li>
        </ul>  
    </form>
   



} 