

.body-pattern {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 400px) {
    .body-pattern {
        display: flex;
        flex-direction: row;
    }
    
}